<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>All Products</title>-->
<!--</head>-->
<!--<body>-->
<!--<h2>All Products</h2>-->
<!--<table>-->
<!--    <thead>-->
<!--    <tr>-->
<!--        <th>ID</th>-->
<!--        <th>Name</th>-->
<!--        <th>Description</th>-->
<!--        <th>Model_Name</th>-->
<!--        <th>Overview</th>-->
<!--        <th>Quantity</th>-->
<!--        <th>Rating</th>-->
<!--        <th>Images</th>-->
<!--        &lt;!&ndash; Add more columns as needed &ndash;&gt;-->
<!--    </tr>-->
<!--    </thead>-->
<!--    <tbody>-->
<!--    <tr th:each="product : ${products}">-->
<!--        <td th:text="${product.id}">ID</td>-->
<!--        <td th:text="${product.name}">Name</td>-->
<!--        <td th:text="${product.description}">Description</td>-->id
<!--        <td th:text="${product.modelName}">Model_Name<</td>-->
<!--        <td th:text="${product.overview}">Overview</td>-->
<!--        <td th:text="${product.quantity}">Quantity</td>-->
<!--        <td th:text="${product.rating}">Rating<</td>-->
<!--        <td th:text="${product.images}">Image</td>-->
<!--        <td th:text="${product.tags}">Category</td>-->
<!--         Add more columns as needed-->
<!--    </tr>-->
<!--    </tbody>-->
<!--</table>-->

<!--</body>-->
<!--</html>-->